<div class="col" data-controller="messages">
  <div class="mb-5">
    <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
      <%= image_tag "back.svg", size: "28x28", class: "me-4" %>
      <span style="position: relative; top: 2px;">Messages</span>
    <% end %>
  </div>

  <%# The receiver_message_user (it's just a User instance in reality) for the selected user we tried to message %>
  <% if @receiver_message_user.present? %>
    <div>
      <div class="d-flex py-3 px-3">
        <div class="flex-shrink-0">
          <% if @receiver_message_user.avatar.present? %>
            <%= image_tag @receiver_message_user.avatar, size: "48x48", class: "rounded-circle" %>
          <% else %>
            <%= image_tag "profile.svg", size: "48x48", class: "rounded-circle" %>
          <% end %>
        </div>
        <div class="flex-grow-1 ms-3">
          <div>
            <span class="fw-bold mr-3"><%= @receiver_message_user.display_name %></span>
            <span class="text-muted">@<%= @receiver_message_user.username %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# TODO: could @receiver_message_user be actually called @receiver and replace this view variable receiver bellow? %>
  <%# The channels where the current user already have with another users. Reciever is also a User instance  %>
  <% @current_user_subscribed_channels.each do |subscribed_channel| %>
    <% receiver = subscribed_channel.users.where.not(id: current_user.id).first %>

    <div data-messages-target="channel" data-channel-id="<%= subscribed_channel.id %>" class="channel d-flex py-3 px-3">
      <div class="flex-shrink-0">
        <% if receiver.avatar.present? %>
          <%= image_tag receiver.avatar, size: "48x48", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "profile.svg", size: "48x48", class: "rounded-circle" %>
        <% end %>
      </div>
      <div class="flex-grow-1 ms-3">
        <div>
          <span class="fw-bold mr-3"><%= receiver.display_name %></span>
          <span class="text-muted">@<%= receiver.username %></span>
        </div>
      </div>
    </div>
  <% end %>

</div>

<%# The messages of the selected channel and the input to add more messages %>
<div class="col-6">
  <div class="vh-100 position-relative">
    <%# the list of messages from the selected channel %>
    <%= render "messages", messages: @messages_from_channel %>

    <%# the input for a new message %>
    <div class="position-absolute w-100 bottom-0">
      <%= render "messages/new_message_form", receiver_message_user: @receiver_message_user %>
    </div>
  </div>
</div>
