<div id="message-form">
  <%= form_with model: Message.new, url: messages_path do |f| %>
    <div class="input-group mb-3">
      <%= hidden_field_tag :user_id, receiver_message_user&.id %>
      <%= f.text_field :body, placeholder: "Type your message", class: "form-control" %>
      <%= button_tag class: "btn btn-outline-secondary" do %>
        <%= image_tag "message.svg", size: "17x17" %>
      <% end %>
    </div>
  <% end %>
</div>
