<aside class="col side-navbar">
  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 px-3 mb-3" do %>
    <div class="px-2 py-2 rounded-circle">
      <%= image_tag "twitter.svg", width: "32" %>
    </div>
  <% end %>

  <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-3 #{nav_link_active?('dashboard')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "home.svg", width: "32" %></span> Home
    </div>
  <% end %>

  <%= link_to hashtags_path, class: "d-flex align-items-center fs-5 mb-3 #{nav_link_active?('hashtags')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "hashtag.svg", width: "32" %></span> Hashtags
    </div>
  <% end %>

  <%= link_to all_tweets_path, class: "d-flex align-items-center fs-5 mb-3 #{nav_link_active?('all_tweets')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "earth.svg", width: "32" %></span> All Tweets
    </div>
  <% end %>

  <%= link_to users_path, class: "d-flex align-items-center fs-5 mb-3 #{nav_link_active?('users')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "users.svg", width: "32" %></span> All Users
    </div>
  <% end %>

  <%= link_to notifications_path, class: "d-flex align-items-center fs-5 mb-3 #{nav_link_active?('notifications')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "notification.svg", width: "32" %></span> Notifications
    </div>
  <% end %>

  <%= link_to channels_path, class: "d-flex align-items-center fs-5 mb-3 #{nav_link_active?('channels')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "email.svg", width: "32" %></span> Messages
    </div>
  <% end %>

  <%= link_to bookmarks_path, class: "d-flex align-items-center fs-5 mb-3 #{nav_link_active?('bookmarks')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "bookmark-unfilled.svg", width: "32" %></span> Bookmarks
    </div>
  <% end %>

  <%= link_to profile_path, class: "d-flex align-items-center fs-5 mb-4 #{nav_link_active?('profile')}" do %>
    <div class="px-4 py-2 rounded-pill">
      <span class="me-4 position-relative" style="bottom: 3px"><%= image_tag "profile.svg", width: "32" %></span> Profile
    </div>
  <% end %>

  <div class="d-flex align-items-center fs-4 px-4 mb-5">
    <%= button_tag "Tweet", class: "btn btn-lg w-100 rounded-pill btn-twitter", data: { "bs-toggle": "modal", "bs-target": "#tweet-modal" } %>
  </div>

  <%= link_to profile_path, class: "d-flex align-items-center fs-6 px-4 mb-4 no-hover" do %>
    <% if current_user.avatar.present? %>
      <div class="me-2"><%= image_tag current_user.avatar, size: "48x48", class: "rounded-circle" %></div>
    <% else %>
      <div class="me-2"><%= image_tag "profile.svg", size: "48x48", class: "rounded-circle" %></div>
    <% end %>

    <div>
      <div class="fs-5"><%= current_user.display_name %></div>
      <div class="text-muted">@<%= current_user.username %></div>
    </div>
  <% end %>

  <div class="fs-6 px-4">
    <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "twitter-link" %>
  </div>

</aside>

<!-- Tweet Form Modal in sidebar -->
<div class="modal" id="tweet-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close close-modal-btn mx-0" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <%= render "shared/tweet_form", form_submit_path: tweets_path, button_label: "Tweet" %>
      </div>
    </div>
  </div>
</div>